@keyframes highlight {
	from {
		background-color: yellow;
	}

	to {
		background-attachment: initial;
	}
}

* {
	font-family: 'Noto Sans', sans-serif;
}

dfn:target {
	animation: 2s ease-in-out 0s highlight;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	border-bottom: 1px solid black;
	display: flex;
}

header div:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 57px;
}

header button {
	height: 45px;
	width: 45px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

header button:hover {
	background-color: lightgrey;
}

header div:nth-child(2) {
	flex-grow: 1;
}

header h1,
header h2 {
	margin: 0px;
}

header h1 {
	font-size: 25px;
	font-weight: 600;
}

header h2 {
	font-size: 15px;
	color: gray;
	font-weight: normal;
	margin-bottom: 3px;
}

main {
	flex-grow: 1;
	overflow: scroll;
	overflow-x: hidden;
}

#about {
	text-align: center;
	background-color: #e0e0e0;
	padding: 10px;
}

#html {
	display: flex;
}

#html>article {
	flex: 1 1 0px;
	margin: 5px;
}

img {
	width: 500px;
}

figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	margin-left: 0px;
}

figcaption cite {
	font-style: normal;
	font-weight: bold;
}

figcaption cite a {
	text-decoration: none;
}

.theme-dark {
	background-color: ;
}